[submodule "aocd01"]
	path = aocd01
	url = https://github.com/przant/aocd01.git
[submodule "aocd02"]
	path = aocd02
	url = https://github.com/przant/aocd02.git
[submodule "aocd03"]
	path = aocd03
	url = https://github.com/przant/aocd03.git
[submodule "aocd04"]
	path = aocd04
	url = https://github.com/przant/aocd04.git
[submodule "aocd06"]
	path = aocd06
	url = https://github.com/przant/aocd06.git
[submodule "aocd07"]
	path = aocd07
	url = https://github.com/przant/aocd07.git
